* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-container {
    position: relative;
    background: linear-gradient(lightblue, #8dcfec, #b8e2f4);
    width: 100%;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    height: 160px;
    background: url('assets/headerkoran.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex-box {
    padding: 13px;
    border-radius: 10px 0px 0px 35px;
    margin-top: 10px;
    margin-left: 70%;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #46a2da, #6abce2, #8dcfec, #b8e2f4);
}

.formtop {
    margin-left: 40px;
    margin-right: 50px;
}

.formtop .input-field {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    width: 100%;
    background: transparent;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;

}
.input-field .leftside {
    margin-right: 25px;
}

.input-field .rightside {
    margin-right: 25px;
}

.formtop .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px;
    font-size: 0.95rem;
    border-radius: 6px;
    border: 0.5px solid #194569;
    margin-bottom: 20px;
}

.input-field label {
    margin-left: 10px;
    font-size: 20px;
    bottom: 100px;
}

.input-field-main .notes {
    font-size: 20px;
    bottom: 100px;
}

.notes label {
    margin-left: 10px;
}

.formtop .input-field-main .link-list {
    font-size: 20px;
    bottom: 100px;
}

.link-list label {
    margin-left: 10px;
}

.formtop .input-field-main {
    position: relative;
    width: 100%;
    background: transparent;
    display: grid;
    grid-template-columns: 3fr 2fr; /* Mengubah ini menjadi 1fr 3fr akan membagi daerah menjadi 1/4 dan 3/4 */
}

.notes textarea {
    background:#fff;
    border-radius: 10px 10px;
    outline: none;
}

.link-list textarea {
    background: #fff;
    border-radius: 10px 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    color: #0f0f0f;
    background: transparent;
    font-size: 16px;
}

.input-field-main .notes {
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.input-field-main .link-list {
    margin-left: 10px;
    margin-right: 0px;
}


.formtop button { 
    margin-left: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px;
    border-radius:20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(360deg, #46a2da, #6abce2, #8dcfec, #b8e2f4);
    transition: 0.2s ease;
}

.formtop #back {
    text-decoration: none;
    margin-bottom: 25px;
    color: #fff;
    width:40%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px;
    border-radius: 20px;
    margin: 25px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(360deg, #46a2da, #6abce2, #8dcfec, #b8e2f4);
    transition: 0.2s ease;
}

button:hover {
    background:#6abce2;
}

.formtop #back:hover {
    background:#6abce2;
}

@media (max-width: 760px) {
    .flex-container {
        width: 100%;
    }
}

