.container {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}
.logo img {
    width: 20px;
    height: auto;
}
.left-header .background {
    display: flex;
    align-items: center;
}
.dashboard-text h2 {
    margin-left: 50px;
}
.search {
    flex: 5;
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: lightblue;
}

.week-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spasi antara setiap minggu */
}
/* Add this CSS for stacking checkboxes and labels vertically */
.card .box label {
    display: block;
    margin-bottom: 8px;
}

.card .box input {
    margin-right: 8px;
}
